.login__container,
.registration__container {
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login__container {
  max-width: 400px;
}

.registration__container {
  max-width: 800px;
}

.registration__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.registration__input-inner {
  width: 47%;
  display: inline-block;
}

.registration__input {
  width: 100%;
}


/* product card in catalog.html */
.card {
  height: 100%;
}

.card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 200px;
  object-fit: cover;
}
