{% extends "base.html" %}
{% load static %}

{% block content %}
<section class='login py-4'>
    <div class="container login__container">
        <h2 class="text-center mb-4">Login</h2>
        <form class="mb-4" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                <input type="text" class="form-control" name='username' id="id_username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" class="form-control" name='password' id="id_password" placeholder="Enter your password">
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <div class="login__bottom">
            <p class='login__bottom-text text-center mb-1'>Don't have an account? Sign up!</p>
            <a class='login__bottom-link d-block text-center' href="{% url "users:registration" %}">Create account</a>
        </div>
    </div>
</section>
{% endblock  %}